[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipyleaflet = "*"
ipywidgets = "*"
ipykernel = "*"

[packages]
requests = "*"
pandas = "*"
scipy = "*"
mlrose = "*"
ipyleaflet = "*"

[requires]
python_version = "3.8.0"
